.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #f0f2f5;

    .login {
        padding: 10px;
        max-width: 450px;

        &__form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: #f0f2f5;
        }

        &__title {
            align-self: center;
            margin-bottom: 20px;
        }

        &__logo {
            display: block;
            margin-bottom: 20px;
        }
    }
}
